.title {
    font-size: 20px;
    background-color: blue;
}

.row {
    display: flex;
}

.cardText {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: plum;
    opacity: 0.7;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    color: white;
    font-size: 50px;
    font-family: "Roboto Light";
    margin: 0;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.cardText:hover, .playAgainBtn:hover {
    opacity: 0.9;
}

.cardText:active, .playAgainBtn:active {
    opacity: 1;
}

.hiddenNumber {
    pointer-events: all;
    color: transparent;
}

.btn {
    padding: 10px 15px;
    background-color: plum;
    opacity: 0.7;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    font-family: "Roboto Light";
    color: white;
    cursor: pointer;
}

.form {
    padding: 20px;
    border: 1px silod plum;
    background-color: plum;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formDescription {
    font-size: 20px;
    font-family: "Roboto Light";
    color: white;
    margin-bottom: 20px;
}

.formInput {
    padding: 5px;
    font-size: 15px;
    max-width: 50px;
}

.formHidden {
    display: none;
}

.startGameBtn {
    opacity: 1;
    border: 1px solid white;
    max-width: 150px;
}


